absl-py==0.9.0
certifi==2022.12.7
cycler==0.10.0
future==0.18.2
h5py==2.10.0
jax==0.1.68
jaxlib==0.1.47
joblib==0.15.1
kiwisolver==1.2.0
matplotlib==3.2.1
numpy==1.18.4
opt-einsum==3.2.1
pandas==1.0.3
Pillow==8.1.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
scikit-learn==0.23.1
scipy==1.4.1
seaborn==0.10.1
six==1.15.0
sklearn==0.0
threadpoolctl==2.0.0
torch==1.5.0
torchvision==0.6.0
tqdm==4.46.0
